<div class="mx-auto my-2 shadow contenedor">
    <div class="card-body">
      <h5 class="card-title font-weight-bolder text-primary text-center">Inicio de Sesión</h5>

      <form>
        <div class="form-group row">
          <label for="name" class="col-12 col-md-4 col-form-label">Nombre</label> 
          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">face</i>
                </div>
              </div> 
              <input id="name" name="name" placeholder="Ingrese su nombre" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-12 col-md-4 col-form-label">Dirección</label> 
          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">business</i>
                </div>
              </div> 
              <input id="address" name="address" placeholder="Ingrese su dirección" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="mobile" class="col-12 col-md-4 col-form-label">Celular</label> 
          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">settings_cell</i>
                </div>
              </div> 
              <input id="mobile" name="mobile" placeholder="Ingrese su número de móvil" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-12 col-md-4 col-form-label">Correo electrónico</label> 
          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">contact_mail</i>
                </div>
              </div> 
              <input id="email" name="email" placeholder="Ingrese su correo electrónico" type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-12 col-md-4 col-form-label">Contraseña</label> 
          <div class="col-12 col-md-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="material-icons">lock</i>
                </div>
              </div> 
              <input id="password" name="password" placeholder="Ingrese su contraseña" type="text" class="form-control">
            </div>
          </div>
        </div> 
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </div>
      </form>
 
  
    </div>
  </div>